.panel {
    height: 100vh;
    background-color: pink;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #000;
    margin: 10px;
    display: inline-block;
}

body {
    margin: 0;
    padding: 0;
}